In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('robust\ClevelandScaledoutput.csv')

In [3]:
heart_data.head()

,age,sex,cp,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,0.538462,0.0,-2.0,0.75,-0.125000,2.812073,0.5,-0.092308,0.0,0.9375,1.0,0.0,0.75,0.0
1,0.846154,0.0,1.0,1.50,0.703125,0.000000,0.5,-1.384615,1.0,0.4375,0.0,3.0,0.00,1.0
2,0.846154,0.0,1.0,-0.50,-0.187500,0.000000,0.5,-0.738462,1.0,1.1250,0.0,2.0,1.00,1.0
3,-1.461538,0.0,0.0,0.00,0.140625,0.000000,-0.5,1.046154,0.0,1.6875,1.0,0.0,0.00,0.0
4,-1.153846,-1.0,-1.0,0.00,-0.578125,0.000000,0.5,0.584615,0.0,0.3750,-1.0,0.0,0.00,0.0

In [4]:
heart_data.tail()

,age,sex,cp,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
298,-0.846154,0.0,-2.0,-1.0,0.359375,0.000000,-0.5,-0.646154,0.0,0.250,0.0,0.0,1.0,1.0
299,0.923077,0.0,1.0,0.7,-0.750000,2.812073,-0.5,-0.369231,0.0,1.625,0.0,2.0,1.0,1.0
300,0.076923,0.0,1.0,0.0,-1.718750,0.000000,-0.5,-1.169231,1.0,0.250,0.0,1.0,1.0,1.0
301,0.076923,-1.0,-1.0,0.0,-0.078125,0.000000,0.5,0.646154,0.0,-0.500,0.0,1.0,0.0,1.0
302,-1.384615,0.0,0.0,0.4,-1.031250,0.000000,-0.5,0.615385,0.0,-0.500,-1.0,0.0,0.0,0.0

In [5]:
heart_data.shape

(303, 14)

In [6]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         303 non-null    float64
 1   sex         303 non-null    float64
 2   cp          303 non-null    float64
 3   trestbps    303 non-null    float64
 4   cholestrol  303 non-null    float64
 5   fbs         303 non-null    float64
 6   restecg     303 non-null    float64
 7   thalach     303 non-null    float64
 8   exang       303 non-null    float64
 9   oldpeak     303 non-null    float64
 10  slope       303 non-null    float64
 11  ca          303 non-null    float64
 12  thal        303 non-null    float64
 13  num         303 non-null    float64
dtypes: float64(14)
memory usage: 33.3 KB

In [7]:
heart_data.isnull().sum()

age           0
sex           0
cp            0
trestbps      0
cholestrol    0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64

In [8]:
heart_data.describe()

,age,sex,cp,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,-0.120081,-0.320132,0.158416,0.084488,0.088954,0.417635,-0.004950,-0.104392,0.326733,0.149752,-0.399340,0.693069,0.430693,0.458746
std,0.695282,0.467299,0.960126,0.879987,0.809014,1.001654,0.497486,0.703846,0.469794,0.725672,0.616226,0.960228,0.484596,0.499120
min,-2.076923,-1.000000,-2.000000,-1.800000,-1.796875,0.000000,-0.500000,-2.523077,0.000000,-0.500000,-1.000000,0.000000,0.000000,0.000000
25%,-0.615385,-1.000000,0.000000,-0.500000,-0.468750,0.000000,-0.500000,-0.600000,0.000000,-0.500000,-1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.384615,0.000000,1.000000,0.500000,0.531250,0.000000,0.500000,0.400000,1.000000,0.500000,0.000000,1.000000,1.000000,1.000000
max,1.615385,0.000000,1.000000,3.500000,5.046875,2.812073,0.500000,1.507692,1.000000,3.375000,1.000000,3.000000,1.000000,1.000000

In [10]:
heart_data['num'].value_counts()

0.0    164
1.0    139
Name: num, dtype: int64

In [12]:
X = heart_data.drop(columns='num', axis=1)
Y = heart_data['num']

In [14]:
print(X)

          age  sex   cp  trestbps  cholestrol       fbs  restecg   thalach  \
0    0.538462  0.0 -2.0      0.75   -0.125000  2.812073      0.5 -0.092308
1    0.846154  0.0  1.0      1.50    0.703125  0.000000      0.5 -1.384615
2    0.846154  0.0  1.0     -0.50   -0.187500  0.000000      0.5 -0.738462
3   -1.461538  0.0  0.0      0.00    0.140625  0.000000     -0.5  1.046154
4   -1.153846 -1.0 -1.0      0.00   -0.578125  0.000000      0.5  0.584615
..        ...  ...  ...       ...         ...       ...      ...       ...
298 -0.846154  0.0 -2.0     -1.00    0.359375  0.000000     -0.5 -0.646154
299  0.923077  0.0  1.0      0.70   -0.750000  2.812073     -0.5 -0.369231
300  0.076923  0.0  1.0      0.00   -1.718750  0.000000     -0.5 -1.169231
301  0.076923 -1.0 -1.0      0.00   -0.078125  0.000000      0.5  0.646154
302 -1.384615  0.0  0.0      0.40   -1.031250  0.000000     -0.5  0.615385

     exang  oldpeak  slope   ca  thal
0      0.0   0.9375    1.0  0.0  0.75
1      1.0   0.4375    0.0  3.0  0.00
2      1.0   1.1250    0.0  2.0  1.00
3      0.0   1.6875    1.0  0.0  0.00
4      0.0   0.3750   -1.0  0.0  0.00
..     ...      ...    ...  ...   ...
298    0.0   0.2500    0.0  0.0  1.00
299    0.0   1.6250    0.0  2.0  1.00
300    1.0   0.2500    0.0  1.0  1.00
301    0.0  -0.5000    0.0  1.0  0.00
302    0.0  -0.5000   -1.0  0.0  0.00

[303 rows x 13 columns]

In [15]:
print(Y)

0      0.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
298    1.0
299    1.0
300    1.0
301    1.0
302    0.0
Name: num, Length: 303, dtype: float64

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [17]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Training Model

In [18]:
model = LogisticRegression()

In [19]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

LogisticRegression()

In [20]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [21]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8553719008264463

In [22]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [23]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8360655737704918

In [25]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 1):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1.]
The Person does not have a Heart Disease

C:\Users\SivaRanjan.s\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [26]:
import pickle

In [27]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [28]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [29]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
cholestrol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal